In [ ]:
import os 
import pymysql 
import pandas as pd

In [ ]:
import pandas as pd 
import numpy as np
import time
import random
import openpyxl

import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime

data = pd.read_excel('Momentanee.xlsx')

In [ ]:
import pymysql
from datetime import datetime

# 連接資料庫
host = 'localhost'
port = 3306
user = 'root'
passwd = '請輸入密碼'
db = 'my_project'
charset = 'utf8mb4'

conn = pymysql.connect(host = host, port = port, user = user, passwd = passwd, db = db, charset = charset)

connect=conn.cursor()
sql="""
    CREATE TABLE IF NOT EXISTS new(
    CATEGORY CHAR(5) NOT NULL,
    NAME CHAR(20),
    DES VARCHAR(1000),
    PRICE INT,
    SIZE CHAR(100),
    STOCK INT,
    COUNT  INT,
    DATE  CHAR(50),
    QUANTITY INT)"""

# sql2="""
# INSERT INTO project.new(CATEGORY ,NAME ,DES,PRICE,SIZE,STOCK,COUNT,DATE,QUANTITY)
# VALUES("%s","%s","%s",%d,%d,14,3,"2020-01-02",24);
# """

# print('Successfully connected!')

# 使用 cursor 物件來進行操作

connect.execute(sql)

In [ ]:
new_data= np.array(data)
my_data=new_data.tolist()

sql = """INSERT INTO my_project.new VALUES (%s ,%s ,%s ,%s ,%s ,%s ,%s ,%s ,%s)"""

connect.executemany(sql,my_data)
conn.commit()